<!doctype html>
<html lang=''>
  <head>
  </head>
  <body>

    <!-- <div id='cssmenu' style="margin-top:42px;">style="height: 463px; margin-left:-33px;" -->
      <ul id="cssmenu">
         <li class='active'><a href='/events/venue_detail'><span>Add Function</span></a></li>
         <li class='active'><a href='/events/price'><span>Add Price</span></a></li>
         <li><a href='#'><span>Add Venue</span></a></li>
         <li><a href='#'><span>View Venue</span></a></li>
         <li><a href='#'><span>View Venue</span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <li><a href='#'><span></span></a></li>
         <!-- <li class='last'><a href='#'><span></span></a></li> -->
      </ul>
    <!-- </div> -->
  </body>
<html>

<style>


#cssmenu {
  background: #333;
  list-style: none;
  margin-left: -346px;
  padding: 0;
  width: 14em;
  float: left;
  text-align: left;
  border-right: 2px solid #ccc;
  
}
#cssmenu li {
  font: 147.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 9px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("/assets/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

</style>