<div class="container">
	<%@user_id=current_user.id%>	
	<%@user=User.find_by(:id=>@user_id)%>	
	<table class="table-bordered">
		<tr>
			<th><%="ID"%></th>
			<th><%="Email"%></th>
		</tr>
		<tr>
			<td>
				<%=@user.id%>
			</td>
			<td>
				<%=@user.email%>
			</td>
		</tr>
	</table>
</div>