  <!-- <div id="page"> -->
    <header>
      <div>
    	  <a href="#"><img src="/assets/event.png"  style="width: 253px; height: 100px; padding: 2px 1px;" border=0>
				</a>
        <h2><a href="#" border=0><%="Event Management" %></a></h2>
      </div>
      <nav>
        <table>
          <tr>
            <td class="right-padding">
              <a href="/welcomes/home">Home</a>
            </td>
            <td class="right-padding">
              <a href="#">Contact Us</a>
            </td>
            <td class="right-padding">
              <a href="#">About Us</a>
            </td>
            <td>
              <a href="/welcomes/home">Login</a>
            </td>
          </tr>
        </table>
      </nav>
    </header>

  <div id="containers" >
    <body>
    <!-- <div id="zmain"></div> -->
    <div id="footer"></div>
  </div>
</body>
