/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery.ui.all
 *= require bootstrap-datepicker
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



html, body
  {
    padding:0;
    margin:0;
    height:100%;
    overflow-x:hidden;
  }
  #page
  {
    min-height:100%;
    position:relative;
    height:100%;
  }
  header
  {
	  background-color:#115EA2;
	  min-height:100px;
	  width:100%;
	  position:relative;
  }
  /*#main
  {
    width:1300px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F1F2F3;
    min-height:90%;
    height:auto;
    height:89%;
    margin:0 auto -50px;
    vertical-align:bottom;
  }*/
  #footer
  {
    position:fixed;
    width:100%;
    bottom:0;
    height:35px;
    background-color: #115EA2;
    margin-left: -346px;
  }
  header img
  {
    float:left;
    display:inline;
  }
    
  header h2
  {
    text-align:center;
    font-size:44px;
    color:#FFFFFF;
    left:0px;
    top:20px;
    font-weight:bold;
    font-family: Sans-serif;
    float:left;
    margin-top:20px;
    margin-left:20px;
    text-decoration:none;
  }
    
  header h2, a, a:visited, a:hover, a:active
  {
    color: #FFFFFF;
    text-decoration: none;
  }
    
    /* NAVIGATION BAR CODE */
    
  nav
  {
    position:absolute;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color:#aaa;
    color:green;
    min-width:800px;
    text-align:left;
    height:42px;
    padding:10px 20px;
  }
    
    
  nav a
  {
    font-size:14px;
    margin:10px 0;height:20px;
    padding:12px 10px;
    color:#000;
    text-decoration:none;
  }
    
  nav a:hover
  {
  	background-color:#333;
  }

  .admin-cls{
    height: 137px;
    margin: 0px 154px;
    width: 257px;
  }
  .customer-cls{
    height: 158px;
    margin: 4px 154px;
    width: 253px;
  }

  .registration-cls{
    height: 158px;
    margin: 16px 154px;
    width: 258px; 
  }

  .right-padding{
    padding-right: 300px;
  }

  .padding-space{
    padding-right: 38px;
  }
  /*.container{
    padding: 36px;
  }*/

  .layout-space{
    padding-right: 50px;    
  }

  .cust-layout-space{
    padding-right: 50px;    
  }

  .submit{
    background: linear-gradient(to bottom, #dbe8f7, #92aecd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #5f7a92;
    border-radius: 4px;
    color: #1d212a !important;
    cursor: pointer;
    font-size: 0.85em !important;
    padding: 3px 9px !important;
    text-decoration: none;
}

.cancel-btn{
  padding: 5px 11px !important;
}
.cancel-btn4{
  padding: 4px 11px !important;
}

.mg-div-cls{
  margin: 8px 47px;
}

/*.table-layout{
  border: 1px solid black;
  table-layout: fixed;
  width: 400px;
  height: 100px;
}

.table-layout th, .table-layout td {
  border: 2px solid black;
  overflow: hidden;
  width: 100px;
}*/
/*.div-margin{
  margin:-465px 174px;
}*/

div#containers{
    margin: 43px auto 0;
    width: 610px;
  }

  div#container-id{
    margin: 43px auto 0;
    width: 610px;
  }


  .event-table{
    font-size: 13px;
    color: #363131;
    border-width: 1px;
    border-color: #363131;
    border-collapse: collapse;
    font-size: 0.8em;
    width: 660px;
    height: 65px;
  }


.event-table th{
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  border-color: #363131;
  text-align: center;
  padding: 8px;

}

.event-table tr{
  background-color: white;
}

.event-table td{
  border-width: 1px;
  border-style: solid;
  border-color: #363131;
  overflow: hidden;
  padding: 6px;
  

}

.text-field-cls{
    margin-top: 7px;
    width: 195px;
  }

  .text-width-cls{
    width: 195px;
  }
  .title-width-cls{
    margin-top: 7px;
    width: 155px;
  }

  .error{
    color:red;
  }

  .mg-icon-btn, .mg-icon-btn:hover, .mg-icon-btn:focus, .mg-icon-btn:visited {  
    background: -moz-linear-gradient(center top , #dbe8f7, #92aecd) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #5f7a92 !important;
    border-radius: 4px;
    color: #1d212a !important;
    cursor: pointer;
    font-size: 1.1em;
    padding: 3.2px 5px !important;
  }