<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    
  <header>
    <div>
      <a href="#"><img src="/assets/event.png"  style="width: 253px; height: 100px; padding: 2px 1px;" border=0>
      </a>
      <h2><a href="#" border=0><%="Event Management" %></a></h2>
    </div>
    <nav>
      <table>
        <tr>
          <td class="layout-space">
            <a href="/events">My Profile</a>
          <td>
            <%= link_to 'Update profile', edit_user_registration_path, :class => 'navbar-link' %>
          </td>
          <td class="layout-space">
            <a href="/events/venue">Book an Event</a>
          </td>
          <td class="layout-space">
            <a href="#">Booking Status</a>
          </td>
          <td class="layout-space">
            <a href="#">Booking History</a>
          </td>
          <td class="layout-space">
            <a href="#">View Venue</a>
          </td>
          <td class="layout-space">
            <a href="#">Feedback</a>
          </td>
          <td>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </td>
        </tr>
      </table>
    </nav>
  </header>
  <div id="containers" >
  <body>
    <% if notice %>
      <p class="alert alert-success" style="float: right; width: 620px;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="float: right; width: 620px;"><%= alert %></p>
    <% end %>
    <%= yield %>
    <div id="footer"></div>
  </body>
  </div>
</html>





<style type="text/css">
  
</style>